body {
    background-color: #b5dbca;
    color: #234;
    background:
    linear-gradient( rgba(171, 209, 192, .75),
                     rgba(171, 209, 192, .60),
                     rgba(171, 209, 192, .75)
                   ),
    url(/images/45degree_fabric.png);

    font-family: Verdana,Geneva,sans-serif;
    margin: 5px auto 5px auto;
}

/* future possibility: 5e5c70 (purple) with tweed */

a {
    color: #557
}

div#header #navigation {
    margin: 1em;
}

div#header #navigation a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#content {
    margin: 2em;
    padding: 3px;
    min-width: 20em;
    max-width: 33em;
}

div .sub-item {
    text-indent: 1em;
}

@media screen and (min-width: 640px) {
    div#header {
        position: fixed;
        width: 10em;
        top: 0;
        left: 0;
    }


    div#content {
        margin-left: 10em;
    }
}

div#footer {
    color: #777;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    position: absolute;
    bottom: 1px;
    right: 1em;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
